# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment

fraudenv/
pyenv311/
ml_env/
airflow_env/

# mlflow experiment
mlruns/


task_2_credit_card_fraud_detecation/model/

# Data files
*.csv

# Model files (optional)
*.cbm
*.cb
*.h5
*.pkl
*.joblib
*.keras
*.db
*.csv

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Streamlit cache
.streamlit/

# VS Code
.vscode/

# Environment variables
.env